{% extends 'index.html' %}
    {% block title %}
      Creacion de Autor
    {% endblock title %}
    {% block extracss %}
    {% endblock extracss %}
    {% block body %}
      <form class="" action="" method="post">
        {% csrf_token %}
        {% if error %}
          <h2>error</h2>
        {% else %}
          {{ autor_form.as_p }}
          <button type="submit" name="crear">Crear</button>
        {% endif %}
      </form>
    {% endblock body %}
    {% block extrajs %}
    {% endblock extrajs %}
