{% extends 'index.html' %}
    {% block title %}
      Eliminar Autor
    {% endblock title %}
    {% block extracss %}
    {% endblock extracss %}
    {% block body %}
      <form class="" action="" method="post">
        {% csrf_token %}
        <h2>Desea eliminar el registro{{ autor.nombre,  }}?</h2>
          <button type="submit" name="crear">Eliminar</button>
          <a href="{% url 'libro:listar_autor' %}">Cancelar</a>
      </form>
    {% endblock body %}
    {% block extrajs %}
    {% endblock extrajs %}
