{% extends 'index.html' %}
{% block title %}
  Listar Autor
{% endblock title %}
{% block body %}

  {% if autores %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Nacionalidad</th>
          <th scope="col">Description</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for autor in autores  %}
          <tr>
            <td>{{ autor.id }}</td>
            <td>{{ autor.nombre }}</td>
            <td>{{ autor.apellidos }}</td>
            <td>{{ autor.nacionalidad }}</td>
            <td>{{ autor.descripcion }}</td>
            <td>
              <a href="{% url 'libro:editar_autor' autor.id %}">Editar</a>
              <a href="{% url 'libro:eliminar_autor' %}">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h1>No existe autores registrados</h1>
  {% endif %}

{% endblock body %}
